body, html
  width 100%
  height 100%
  padding 0
  margin 0
  
#everything
  width 84%
  margin-left 15%
  margin-top 2%
  
#entry
  width 40%
  border-right 1px solid #ccc
  float left
  
#results
  margin-left 5%
  width 40%
  float left
  
fieldset
  border 0
  
label, .pseudo-label
  display block
  font-weight bold
  margin-top 10px
  
select, input
  padding 2px 5px
  width 80%
  
button
  font-weight bold
  padding 5px 10px
  border-radius 5px
  -moz-border-radius 5px
  -webkit-border-radius 5px
  border 1px solid #ccc
  background-color #eee
  cursor pointer
  margin-right 5px
  
button.pos
  color #040
  
button.pos:hover
  color #ccc
  background-color #040
  
button.neg
  color #400
  
button.neg:hover
  color #ccc
  background-color #400

span.label
  font-weight bold
  display block
  float left
  width 40%
  clear left
  margin-top 10px
  
span.value
  display block
  float left
  width 55%
  margin-top 10px
  
span.add
  color #080
  
span.sub
  color #800
  
nav
  margin-left -15%
  border-bottom 1px solid #ccc
  padding 2px 0
  
  ol
    list-style none
    overflow auto
    margin 0
    padding 0
    margin-left 13%
    
    li
      float left
      margin-right 10px
      
      a
        color #008
        text-decoration none
      
      a:hover
        text-decoration underline
