body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#everything {
  width: 84%;
  margin-left: 15%;
  margin-top: 10%;
}
#entry {
  width: 40%;
  border-right: 1px solid #ccc;
  float: left;
}
#results {
  margin-left: 5%;
  width: 40%;
  float: left;
}
fieldset {
  border: 0;
}
label,
.pseudo-label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}
select,
input {
  padding: 2px 5px;
  width: 80%;
}
button {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
  margin-right: 5px;
}
button.pos {
  color: #040;
}
button.pos:hover {
  color: #ccc;
  background-color: #040;
}
button.neg {
  color: #400;
}
button.neg:hover {
  color: #ccc;
  background-color: #400;
}
