!!! 5
html
  head
    title SWTOR Tanking Optimization
    
    link(href="/css/build.css", rel="stylesheet")
  body
    block content
    
    script(src="/js/build.js", type="text/javascript")
    block js
    
    
